<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calander">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Kalender</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon aria-hidden="true" name="beer-outline"></ion-icon>
      <ion-label>Veranstaltungen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="debts">
      <ion-icon aria-hidden="true" name="logo-euro"></ion-icon>
      <ion-label>Schulden</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon aria-hidden="true" name="shirt-outline"></ion-icon>
      <ion-label>Bestellungen</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="informations">
      <ion-icon aria-hidden="true" name="help-outline"></ion-icon>
      <ion-label>Informationen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
