<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Termine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Termine</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<ion-card>
  <ion-grid [fixed]="false">
  <ion-row>
    <ion-col size="auto">Name</ion-col>
    <ion-col size="auto">Datum</ion-col>
    <ion-col size="auto">Ort</ion-col>
    <ion-col>+/-</ion-col>
    <ion-col>Wieso?</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Teufel Feier</ion-col>
    <ion-col>01.05.23</ion-col>
    <ion-col>Teufel Clubheim</ion-col>
    <ion-col>
      <ion-fab horizontal="center" vertical="center">
        <ion-fab-button size="small" color="medium">
          <ion-icon name="alert-sharp"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start">
          <ion-fab-button size="default" color="success">
            <ion-icon name="checkmark-sharp"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="top">
          <ion-fab-button size="large" color="warning">
            <ion-icon name="help-sharp"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button color="danger">
            <ion-icon name="close-sharp"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>

      </ion-fab>
    </ion-col>
    <ion-col>
      <ion-list>
  
        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-input placeholder="Grund"></ion-input>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-card>



</ion-content>
