<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="chevron-up-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="globe"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  
  <ion-card>
    <ion-grid [fixed]="false">
    <ion-row class="wrapper">
      <ion-col class="one">Name</ion-col>
      <ion-col class="two">Datum</ion-col>
      <ion-col class="three">Ort</ion-col>
      <ion-col class="four">+/-</ion-col>
      <ion-col class="five">Wieso?</ion-col>
    </ion-row>
    <ion-row class="wrapper">
      <ion-col class="one">Teufel Feier</ion-col>
      <ion-col class="two">01.05.23</ion-col>
      <ion-col class="three">Teufel Clubheim</ion-col>
      <ion-col class="four">
        <ion-fab horizontal="center" vertical="center">
          <ion-fab-button size="small" color="medium">
            <ion-icon name="alert-sharp"></ion-icon>
          </ion-fab-button>
  
          <ion-fab-list side="start">
            <ion-fab-button size="default" color="success">
              <ion-icon name="checkmark-sharp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="top">
            <ion-fab-button size="large" color="warning">
              <ion-icon name="help-sharp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
          <ion-fab-list side="end">
            <ion-fab-button color="danger">
              <ion-icon name="close-sharp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
  
        </ion-fab>
      </ion-col>
      <ion-col class="five">
        <ion-list>
    
          <ion-item id="custom-item" counter="true" lines="inset">
            <ion-label position="stacked"></ion-label>
            <ion-input maxlength="20" placeholder="Grund"></ion-input>
          </ion-item>
  
        </ion-list>
      </ion-col>
    </ion-row>
  
  </ion-grid>
  </ion-card>
  </ion-content>